:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color-scheme: dark;
  background-color: #1e1e1e;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.calculator {
  width: 280px;
  padding: 14px;
  color: #fff;
  border-radius: 20px;
  background: #111111;
  box-shadow:
    25px 25px 67px #131313,
    -25px -25px 67px #2b2b2b;
}

.display {
  background: #000;
  padding: 12px;
  text-align: right;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: hidden;
  position: relative;
}

.history {
  font-size: 14px;
  color: #aaa;

  display: flex;
  justify-content: flex-end; /* چسبیدن محتوا به راست */
  overflow: hidden;

  white-space: nowrap;
  margin: 0;
  padding-right: 5px;
  position: relative;
}

.history-content {
  display: inline-block;
  white-space: nowrap;
}

/* fade effect سمت راست وقتی history طولانی شد */
.history::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px; /* عرض fade */
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, #000, transparent); /* از چپ fade */
}

.current {
  font-size: 28px;
  font-weight: bold;
  margin: 2px 0 0 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.key.operator {
  background: linear-gradient(145deg, #ff9f0a, #ff8500);
  color: #000;
}

.key.operator:hover {
  background: #ffb340;
}

.key.equals {
  background: linear-gradient(145deg, #ff9f0a, #ff8500);
  color: #000;
  font-weight: bold;
}

.key.danger {
  background: linear-gradient(145deg, #ff3b30, #d70015);
}

.key.danger:hover {
  background: #ff5e57;
}

.row {
  display: contents;
}

.key {
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(145deg, #373737, #2e2e2e);
  color: #fff;
  cursor: pointer;
  transition: 0.15s;
}

button:hover {
  background: #555;
}

button:active {
  background: linear-gradient(145deg, #2e2e2e, #373737);
}
